Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Der Planer wird nur angemeldet über "/" ausgeliefert (mit den Daten des Kontos)
    RewriteRule ^planer\.html$ - [F,L]

    # Statische Dateien direkt ausliefern
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Alles andere an den Front-Controller
    RewriteRule ^ index.php [L]
</IfModule>

php_value upload_max_filesize 200M
php_value post_max_size 210M
